<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>{{ indonesia }}</h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-4">
            <img class="img-responsive" src="template/viewindonesia.png" alt="">
        </div>
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi autem consectetur doloribus, est et expedita hic inventore iste laudantium, magni maiores numquam officia pariatur praesentium ratione recusandae saepe sequi sunt tempora voluptate, voluptatem voluptates? Accusantium ad, aliquam cumque cupiditate dolorem ducimus ex exercitationem explicabo laboriosam non qui, saepe!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate, ducimus maxime mollitia numquam voluptatem.</p>
        </div>
    </div>
    <div class="panel-footer text-center">
        <small>Almighty</small>
    </div>
</div>